/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/* Extension for the existing vbatt node in nice_nano_v2 */
&vbatt {
    io-channels = <&adc 6>;
    output-ohms = <100000>;
    full-ohms = <200000>;
    min-microvolts = <3300000>;
    max-microvolts = <4200000>;
};

&led_strip {
    chain-length = <27>;
};
